@import "SPECS/contact";
@import "SPECS/nous";
@import "SPECS/index";

@font-face {
    font-family: 'Vegan';
    src: url("../ASSETS/FONTS/Vegan.woff2");
}

@font-face {
    font-family: 'Gamilia';
    src: url("../ASSETS/FONTS/Gamilia.woff2");
}

// keyframes animations for nav bar arrival

@keyframes dropIn {
    0% { transform: translateX(-61vw); }
    100% { transform: translateX(61vw); }
}

@keyframes dropOut {
    100% { transform: translateX(-61vw); }
    0% { transform: translateX(61vw); }
}

// general coloring settings
$main-color : #F2E8CF;
$lred : #e4585a;
$bg-color: rgb(26, 23, 23);
$title-font: 'Vegan';
$regular-font: 'Gamilia';


// default settings 

body {
    background-color: $bg-color;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: $regular-font;
    color : $main-color;
    font-size: 16px;
}

nav {
    position: fixed;
    height: 12vh;
    width: 100vw;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: transparent;
    color: $main-color;
    display:flex;
    align-items: center;
    justify-content: center;
    & > * {
        display: flex;
        border-bottom: 1px solid $main-color;
        justify-content: center;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
    #contact { border-bottom-right-radius: 10px; }
    #acceuil { border-bottom-left-radius: 10px; }
    #LPB {
        width: calc(12.5vw + 100px);
        font-weight: lighter;
        font-family: $title-font;
        font-size: calc(22px + 0.75vw);
        color : $lred;
    }
    .link-wrapper {
        height: 100%;
        width: calc(50px + 3vw);
        .link {
            color: $main-color;
            text-decoration: none;
            font-size: calc(16px + 0.5vw);
            transition: all 0.1s ease-in;
            &:hover {
                color: $lred;
            }
        }
    }

}







































.center-bar {
    width:1px;
    top: 0;
    position:absolute;
    left: 50%;
    height: 10000px;
    background-color: white;
}